/*
color theme
#EEF5FF
#B4D4FF
#86B6F6
#176B87
*/

body {
     font-family: "Roboto Condensed", sans-serif;  
    font-optical-sizing: auto;            
    font-style: normal;
    background-color: #EEF5FF;
}
#hero-section {
    /* background-image: url("../src/assets/images/bagimage_05.jpg") !important; 
     */
    /* background-color: #E1F7F5; */
    

    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.my-button{
    background-color:#0E46A3
}
.section-head{
    color: #210447;
    /* color: #0b2746; */
}
.footer{
    background-color: #86B6F6!important;
}